@tailwind base;
@tailwind components;
@tailwind utilities;


.wave{
    position: absolute;
    height: 225px;
    width: 100%;
}

.wave::before{
 content: '';
 display: block;
 position: absolute;
 border-radius: 100% 50%;
 width: 55%;
 height: 100%;
 background-color:blueviolet;
 transform: translate(85%, 60%);
 overflow: ;
}

.wave::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:rgb(3, 4, 71);
    transform: translate(-4%, 40%);
    z-index: -1;
}