@tailwind base;
@tailwind components;
@tailwind utilities;


.wave{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.wave::before{
 content: '';
 display: block;
 position: absolute;
 border-radius: 100% 50%;
 width: 55%;
}

.wave::after{

}